// Global colors
$black = black;
$white = white;
$red = red;
$green = #33ff33;
$lightwhite = #f4f4f4;
$lightgray = #ccc;


$section-color = $black;
$section-color-2 = $lightwhite;
$download = $red;
$submit = $green;
$outline-color = $red;
$outline-color-nested = $green;
