@import "_scrollIcon.styl";
@import "_navigation.styl";
@import "_logo.styl";
@import "_profileImage.styl";
@import "_aboutText.styl";
@import "_work-process.styl";
@import "_project.styl";
@import "_skills.styl";
@import "_footer.styl";
@import "_titleHeadings.styl";
@import "_toTopButton.styl";
